body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1100px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  text-align:left;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:50px;
  width:370px;
  height:43px;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  text-align:left;
}
#u0_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  white-space:nowrap;
}
#u1_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:59px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:93px;
  width:92px;
  height:59px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
#u1_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:92px;
  white-space:nowrap;
}
#u2_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1002px;
  height:165px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:169px;
  width:1002px;
  height:165px;
  text-align:left;
}
#u2_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1002px;
  word-wrap:break-word;
}
#u3_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1050px;
  height:20px;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:150px;
  width:1050px;
  height:20px;
}
#u3_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:59px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:333px;
  width:85px;
  height:59px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
#u5_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:85px;
  white-space:nowrap;
}
#u6_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:257px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:409px;
  width:1000px;
  height:257px;
  text-align:left;
}
#u6_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  word-wrap:break-word;
}
#u7_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1050px;
  height:20px;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:390px;
  width:1050px;
  height:20px;
}
#u7_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:666px;
  width:126px;
  height:54px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u8_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:126px;
  white-space:nowrap;
}
#u9_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:739px;
  width:1000px;
  height:52px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u9_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  word-wrap:break-word;
}
#u10_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1050px;
  height:20px;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:720px;
  width:1050px;
  height:20px;
}
#u10_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
